/********************************************
Сгенерированно в Quick Site Upgrade
https://quick-site-upgrade.com/tools/web-font-optimizer
********************************************/
@font-face {
    font-display: swap;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/proximanova-regular-russian.woff2') format('woff2'),
        url('../fonts/proximanova-regular-russian.woff') format('woff'),
        url('../fonts/proximanova-regular-russian.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    unicode-range: U+21-23, U+25-40, U+5B-5F, U+7B-7E, U+AB, U+BB, U+401,
        U+410-44F, U+451, U+2013, U+2014, U+2018, U+2019, U+201C-201E, U+2026,
        U+20BD;
}

@font-face {
    font-display: swap;
    font-family: Ruberoid;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ruberoid-regular-russian.woff2') format('woff2'),
        url('../fonts/ruberoid-regular-russian.woff') format('woff'),
        url('../fonts/ruberoid-regular-russian.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    unicode-range: U+21-23, U+25-40, U+5B-5F, U+7B-7E, U+AB, U+BB, U+401,
        U+410-44F, U+451, U+2013, U+2014, U+2018, U+2019, U+201C-201E, U+2026,
        U+20BD;
}
