.footer {
    position: relative;

    padding-top: $clamp-50-100;
}

.footer__bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    height: 100%;
}

.footer__container {
    margin-left: $clamp-28-135;
    margin-right: $clamp-28-135;
    margin-bottom: $clamp-70-100;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1300px) {
        flex-direction: column;
        gap: 30px;
    }
}

.footer__content {
    max-width: 40%;
    width: 100%;

    @media screen and (max-width: 1300px) {
        max-width: 100%;
    }
}

.footer__logo {
    max-width: 352px;
    width: 100%;
    max-height: 109px;
    height: 100%;

    margin-bottom: 30px;
}

.footer__title {
    margin-bottom: 25px;

    font-size: clamp(22px, 20.6px + 0.38vw, 26px);
    line-height: normal;
    text-wrap: nowrap;
}

.footer__text {
    margin-bottom: 35px;

    border-bottom: 1px solid $color-accent;
    border-radius: 1.5px;

    @media screen and (max-width: 768px) {
        margin-bottom: 25px;
    }

    & {
        margin-bottom: 25px;

        color: $green;
    }
}

.footer__tagline {
    font-size: 18px;
    line-height: normal;

    & span {
        font-size: 22px;
        color: $color-accent;
    }

    @media screen and (max-width: 768px) {
        font-size: 15px;
        & span {
            font-size: 18px;
        }
    }
}

.footer__contacts {
    max-width: 25%;
    width: 100%;

    margin-top: 20px;

    @media screen and (max-width: 1300px) {
        max-width: 100%;
    }

    @media screen and (max-width: 480px) {
        font-size: 13px;
    }
}

.footer__contacts-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (max-width: 1300px) {
        flex-direction: row;
        gap: clamp(30px, 5.7px + 6.5vw, 90px);
    }

    @media screen and (max-width: 374px) {
        flex-direction: column;
    }
}

.footer__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__contacts-item {
    padding-bottom: 15px;

    display: flex;
    gap: 15px;
    text-wrap: balance;

    &.underline {
        border-bottom: 1px solid $color-accent;
        border-radius: 1.5px;
    }

    @media screen and (max-width: 480px) {
        padding-bottom: 0;

        & .contact--address::before {
            width: 16px;
            height: 20px;
        }

        &.underline {
            border-bottom: none;
        }
    }
}

.footer__request {
    max-width: 25%;
    width: 100%;

    margin-top: 20px;

    @media screen and (max-width: 1300px) {
        max-width: 100%;
    }
}

.footer__form {
    flex-direction: column;
    align-items: start;

    & .form__group:nth-child(2) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 1300px) {
        flex-direction: row;
        align-items: center;

        & .form__group:nth-child(2) {
            margin-bottom: 0;
        }

        & .form__submit {
            margin-left: 30px;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: start;

        & .form__group:nth-child(2) {
            margin-bottom: 15px;
        }

        & .form__submit {
            margin-left: 0;
        }
    }
}
