.portfolio {
    position: relative;

    margin-bottom: $clamp-70-100;

    &::before {
        content: '';

        position: absolute;
        top: 15%;
        left: 0;
        z-index: -1;

        display: block;
        max-width: 656px;
        width: 100%;
        max-height: 499px;
        height: 100%;

        border-radius: 656px;
        background: rgba(186, 255, 195, 0.5);

        filter: blur(100px);

        @media screen and (max-width: 768px) {
            top: auto;
            bottom: 0;
        }
    }
}

.portfolio__content {
    margin-bottom: 40px;
}

.portfolio__title {
    margin-left: $clamp-28-135;

    text-wrap: balance;

    @media screen and (max-width: 1300px) {
        margin-right: $clamp-28-135;
    }
}

.portfolio__text {
    margin-right: $clamp-28-135;

    @media screen and (max-width: 1300px) {
        margin-left: $clamp-28-135;
    }
}

.portfolio__container {
    margin-left: $clamp-28-135;

    @media screen and (max-width: 1439px) {
        margin-right: $clamp-28-135;
    }

    @media screen and (max-width: 768px) {
        position: relative;

        margin-bottom: 70px;
    }
}

.portfolio__buttons {
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    gap: 25px;

    @media screen and (max-width: 768px) {
        position: absolute;
        bottom: -100px;
        left: 0;
        z-index: 2;

        width: 100%;

        justify-content: center;
        gap: 30px;
    }
}

.portfolio__swiper-container {
    transition: transform 0.1s linear;

    @media screen and (min-width: 1440px) {
        transform: translateX(-400px);
    }
}

.portfolio__slide {
    position: relative;
    width: 270px;
    height: 456px;

    overflow: hidden;
    border-radius: 35px;
    background-color: $green-light;

    transition: width 0.2s linear, opacity 0.2s linear;

    &.swiper-slide-active {
        width: 500px;
    }

    &.swiper-slide-prev {
        opacity: 0;

        @media screen and (max-width: 1439px) {
            opacity: 1;
        }
    }
}

.portfolio__slide-logo {
    position: absolute;
    top: 35px;
    left: 0;

    width: 164px;
    height: 49px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $green-light;
    border-radius: 0px 15px 15px 0px;
}

.portfolio__slide-img {
    height: 100%;
}

.portfolio__slide-content {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 40px;

    @media screen and (max-width: 768px) {
        margin: 30px;
    }
}

.portfolio__slide-title {
    margin: 0;

    font-size: 24px;
    line-height: 1.42;
    color: $white;

    @media screen and (max-width: 480px) {
        font-size: 22px;
        line-height: 1.46;
    }
}

.portfolio__slide-text {
    margin-top: 10px;

    font-size: 16px;
    line-height: normal;
    color: $white;

    @media screen and (max-width: 480px) {
        line-height: 1.62;
    }
}
