.stages {
    margin: 0 $clamp-28-135;
    margin-bottom: $clamp-70-100;
}
.stages__container {
    position: relative;
}
.stages__bg {
    position: absolute;
    top: -5%;
    left: 5%;
    z-index: -1;

    @media screen and (max-width: 1300px) {
        display: none;
    }
}

.stages__list {
    margin-top: $clamp-70-100;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        gap: 30px;
    }
}

.stages__item {
    position: relative;

    width: 50%;

    margin-bottom: 29px;

    &:nth-child(even) {
        margin-left: auto;

        text-align: right;

        .stages__subtitle {
            margin-left: auto;
        }
    }

    &:nth-child(1) {
        margin-bottom: 16px;
        .stages__item-bg {
            right: 20%;
        }
    }

    &:nth-child(2) {
        margin-bottom: 90px;
        .stages__item-bg {
            left: 20%;
        }
    }

    &:nth-child(3) {
        .stages__item-bg {
            right: 20%;
        }
    }

    &:nth-child(4) {
        .stages__item-bg {
            left: 10%;
        }
    }

    &:nth-child(5) {
        margin-bottom: 85px;

        .stages__item-bg {
            right: 30%;
        }
    }

    &:nth-child(6) {
        margin-bottom: 147px;

        .stages__item-bg {
            top: 0;
            left: 0;
        }
    }

    &:nth-child(7) {
        margin: 0 auto;

        text-wrap: nowrap;

        .stages__content {
            display: flex;
            justify-content: center;
        }

        .stages__item-bg {
            inset: 0;
            margin: auto;

            max-width: 400px;
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        min-height: 110px;

        &:nth-child(1) {
            margin-bottom: 0;

            .stages__item-bg {
                right: 0;

                height: 110px;
            }
        }

        &:nth-child(2) {
            margin-bottom: 0;

            .stages__item-bg {
                left: 0;

                height: 124px;
            }
        }

        &:nth-child(3) {
            .stages__item-bg {
                right: 0;
                height: 113px;
            }
        }

        &:nth-child(4) {
            .stages__item-bg {
                left: 0;

                height: 125px;
            }
        }

        &:nth-child(5) {
            margin-bottom: 0;

            .stages__item-bg {
                right: 0;

                height: 106px;
            }
        }

        &:nth-child(6) {
            margin-bottom: 0;

            .stages__item-bg {
                left: 0;

                height: 103px;
            }
        }

        &:nth-child(7) {
            text-wrap: balance;
            text-align: center;

            .stages__item-bg {
                top: 30%;
                height: 65px;
            }
        }
    }
}

.stages__item-bg {
    position: absolute;
    top: -50%;
    right: 0;
    z-index: -2;

    object-fit: contain;

    @media screen and (max-width: 768px) {
        top: 0;

        width: auto;
    }
}

.stages__subtitle {
    margin-bottom: 15px;

    font-size: clamp(24px, 20.13px + 1.03vw, 35px);
    line-height: normal;
    color: $color-accent;
}

.stages__text {
    text-wrap: balance;
}
