#about.about.base__flex-container
    .base__flex-item
        .about__content
            .about__title.title.anim-items.anim-no-hide о нас  #[span Pascal vent]
                br
                |Особенности
            .about__text.anim-items.anim-no-hide
                p.anim-show Мы любим то, чем занимаемся – поэтому у нас индивидуальный подход к каждому человеку, креативные решения для проекта любой сложности и высокий уровень клиентского сервиса.

                p.anim-show  Именно поэтому нам доверяют сложнейшие задачи, рекомендуют нас и возвращаются вновь. Доверьте нам воплощение ваших самых изысканных и технологичных задач, и мы сделаем всё с высочайшим уровнем сервиса #[strong.special Pascal Vent].

                p.anim-show  #[strong.special Pascal Vent] гарантирует сертифицированные современные системы, оборудование, качественные материалы и самые оптимальные решения под любой бюджет.
        // /about__content

    -
        var achievements = [
            {title: '10 лет на рынке', text: 'Работаем как единое целое'},
            {title: '+ 11 лет стажа', text: 'Опытные и обученые специалисты своего дела'},
            {title: '+ 180 клиентов', text: 'Число счастливых клиентов за этот период'},
            {title: '+ 470 проектов', text: 'Большое количество реализованных проектов'}
        ]
    .base__flex-item
        ul.about__achievements
            each item in achievements
                li.achievement
                    h3.achievement__title.title.anim-items.anim-no-hide= item.title
                    .achievement__text.anim-items.anim-no-hide.anim-show= item.text
// /about