.modal.modal--call-back
    .modal__container
        button#callBackCloseBtn.modal__btn.btn.btn--sm
            span.btn__inner
                svg.modal__btn-icon
                    use(xlink:href='#close')
        |
        |
        .modal__header
            h3.modal__title.title Быстрая связь #[span.withDash.withDash--after с нами]
        |
        |
        .modal__main
            p.modal__text Вы можете набрать нам, и менеджеры Pascal Vent с радостью проконсультирует Вас по любому вопросу и помогут определиться с выбором.
            |
            |
            .schedule
                .schedule__title График приема звонков:
                .contact.contact--schedule ПН-СБ с 9:00 до 19:00
            address.modal__contacts
                a.link.contact.contact--phone(href="tel:+74923736331") + 7 492 373 63 31
                a.link.contact.contact--phone(href="tel:+74243678929") + 7 424 367 89 29
        |
        |
        .modal__footer
            img(src="@img/logo.png", alt="Pascla Vent", width='228', height='68' loading='lazy')
// /modal.modal--call-back