.modal.modal--request
    .modal__container
        button#requestModalClose.modal__btn.btn.btn--sm
            span.btn__inner
                svg.modal__btn-icon
                    use(xlink:href='#close')
        |
        |
        .modal__header
            h3.modal__title.title мы свяжемся #[span.withDash.withDash--after с вами]
        |
        |
        .modal__main
            include ../mixins/_form.pug
            +form('modal__form')
        |
        |
        .modal__footer
            img(src="@img/logo/logo.svg", alt="Pascla Vent", width='228', height='68' loading='lazy')
// /.modal.modal--request