#equipment.portfolio
    .portfolio__content.base__flex-container
        .base__flex-item
            h2.portfolio__title.title Портфолио И  Процесс работы
        |
        |
        .base__flex-item
            p.portfolio__text Технические решения, принятые в рабочих чертежах, соответствуют требованиям экологических, санитарно-гигиенических, противопожарных и других норм и правил, и обеспечивают безопасную для жизни людей эксплуатацию объекта при соблюдении предусмотренных рабочими чертежами мероприятий.
    // /portfolio__content

    -
        var portfolioList = [
            {title: 'приточная вентиляция', text: 'Монтаж приточной вентиляции (объект в Прайм Парк)', img: {srcName: 'img_16', alt:'вентиляция'}},
            {title: 'приточная вентиляция', text: '', img: {srcName: 'img_17', alt:'вентиляция'}},
            {title: 'Канальные кондиционеры', text: '', img: {srcName: 'img_18', alt:'кондиционер'}},
            {title: 'Канальные кондиционеры', text: '', img: {srcName: 'img_19', alt:'кондиционер'}},
        ]
    include ../mixins/_picture.pug
    .portfolio__container
        .portfolio__buttons
            button.btn.btn--circle.portfolio__prev-btn(aria-label='предыдущий')
                span.btn__inner
                    svg.btn__icon
                        use(xlink:href='#prev-icon')
            button.btn.btn--circle.portfolio__next-btn(aria-label='следующий')
                span.btn__inner
                    svg.btn__icon
                        use(xlink:href='#next-icon')
        |
        |
        .portfolio__slider

            each item in portfolioList
                .carousel-cell
                    .slide
                        .slide__logo
                            img(src="@img/logo/logo.svg", alt="Pascla Vent" width='94' height='29' loading='lazy')
                        |
                        |
                        +picture(item.img, 'slide__img')
                        |
                        |
                        .slide__container
                            h2.slide__title.title= item.title
                            if item.text
                                .slide__text= item.text
                // /carousel-cell
                |
                |
        // /portfolio__slider
    // /portfolio__container
// /portfolio

