section.request
    h2.request__title.title Оставьте заявку и мы с вами свяжемся
    |
    |
    .request__container
        include ../mixins/_form.pug
        +form('request__form')
    // /request__container
// /request