section#stages.stages


    h2.stages__title.title Понятная и эффективная схема работы
    |
    |
    .stages__container
        img.stages__bg(src="@img/bg/stages-bg.svg", alt="этапы работы", width="935", height="1253", loading='lazy')
        -
            var stages = [
                {title: 'Получение заявки', text: 'Заполните форму, укажите свои данные и отправьте нашим менеджерам в обработку',
                src: '@img/bg/statement-bg.svg'},
                {title: 'Консультация', text: 'После обработки Вашей заявки, мы связываемся с Вами, выявляем потребности и пожелания, а также проводим техническую консультацию',
                src: '@img/bg/consultation-bg.svg'},
                {title: 'Выезд на объект', text: 'В назначенное время мы выезжаем на объект и согласовываем основные технические решения, обсуждаем техническое задание',
                src: '@img/bg/location-bg.svg'},
                {title: 'Составляем График', text: 'На этом этапе мы составляем коммерческое предложение и занимаемся согласованием графика работ (проектирования, закупки оборудования и монтажа).',
                src: '@img/bg/schedule-bg.svg'},
                {title: 'договор', text: 'Мы заключаем с Вами договор и начинаем проектирование и согласование проекта',
                src: '@img/bg/agreement-bg.svg'},
                {title: 'Поставка и монтаж', text: 'На этом этапе, происходит поставка всех материалов и начинается выполнение монтажных работ',
                src: '@img/bg/delivery-bg.svg'},
                {title: 'Подписание акта выполненных работ', text: '',
                src: '@img/bg/finish-bg.svg'},
            ]
        ul.stages__list
            each item in stages
                li.stages__item
                    .stages__content
                        h3.stages__subtitle.title= item.title
                        if item.text
                            p.stages__text= item.text
                        img.stages__item-bg(src=item.src, alt=item.title, width=300, height='300', loading='lazy')
    // /stages__container
// /stages


