section#stages.stages
    h2.stages__title.title Понятная и эффективная схема работы
    |
    |
    .stages__container
        -
            var stages = [
                {title: 'Получение заявки', text: 'Заполните форму, укажите свои данные и отправьте нашим менеджерам в обработку'},
                {title: 'Консультация', text: 'После обработки Вашей заявки, мы связываемся с Вами, выявляем потребности и пожелания, а также проводим техническую консультацию'},
                {title: 'Выезд на объект', text: 'В назначенное время мы выезжаем на объект и согласовываем основные технические решения, обсуждаем техническое задание'},
                {title: 'Составляем График', text: 'На этом этапе мы составляем коммерческое предложение и занимаемся согласованием графика работ (проектирования, закупки оборудования и монтажа).'},
                {title: 'договор', text: 'Мы заключаем с Вами договор и начинаем проектирование и согласование проекта'},
                {title: 'Поставка и монтаж', text: 'На этом этапе, происходит поставка всех материалов и начинается выполнение монтажных работ'},
                {title: 'Подписание акта выполненных работ', text: ''},
            ]
        ul.stages__list
            each item in stages
                li.stages__item
                    .stages__content
                        h3.stages__subtitle.title= item.title
                        p.stages__text= item.text
    // /stages__container
// /stages


