.steps
    .steps__container
        h2.steps__title.title
            span.withDash.withDash--after 3 простых шага
            |к очищению воздуха
        |
        |
        img.steps__img.steps__img--mobile(src="@img/bg/steps-mobile.svg", alt="шаги" width='375' height='534' loading='lazy')
        .discount
            h3.discount__title Кажется, это знак...
            |
            |
            ul.discount__list
                li.discount__item Получите скидку 5% на монтаж при заполнении анкеты на сайте
                li.discount__item Бесплатно сделаем проект и пусконаладку системы при заказе монтажа
                li.discount__item Кэшбек до 10% дизайнерам при передаче Клиента и заказе у нас проекта с монтажом!
        // /discount
    // /steps__container
    |
    |
    img.steps__img(src="@img/bg/steps.svg", alt="шаги" width='1440' height='503' loading='lazy')
// /steps
